@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Roboto", sans-serif;
font-family: "Madimi One", sans-serif; */





:root {
    --primary-color: #E63946;
    --secondary-color: #F1FAEE;
    --accent1-color: #2d9295;
    --accent2-color: #1D3557;

    --heading-font:"Madimi One", sans-serif;
    --paragraph-font:"Roboto", sans-serif;

    --nav-background-color: #6a9697;
    --nav-link-color: #1D3557;
    --nav-background-color: #F1FAEE;
    --nav-hover-background-color: #ebdfe0;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}




h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}

nav {
    background-color: var(--nav-hover-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/*------------------------------------------------------------------*/


.hero {
    position: relative;

}

.heroimage {
    display: block;
    width: 100%;
    height: auto;
}

header {
    display: grid;
    grid-template-columns: 3fr 5fr;
    align-items: center;
    gap: 0.5rem;

}
nav {
    display: flex;
}



 .happyclient{
    position: absolute;
    margin: 10px;
    top: 100px;
    background-color: #A8DADC;
    padding-bottom: 10px;

    
 }
 

 .happyclient p {
    display : flex;
    padding: 0;
    margin: 0;
    width: 70%;
 }

.aboutmain h1{
    position: absolute; 
    top: 0;
    right: 21rem;
    background-color: #A8DADC;
}


.happyclient img {
    position: absolute;
    width: 10em;
    height: auto;
    right: 1px;  
    float: inline-end;
} 



/* .history{

} */

.adventure h2{
    text-align:  center;
    grid-column:3/4; 

}
.adventure img{
    box-sizing: border-box;
    width: 10em;
    height: auto;
    justify-items: center;
    margin: 0;
    padding: 0;
    

}
/**/
.adventure{
    display: grid;
    max-width: 960px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr ;
    
}

figure{
    grid-row: 2/3;
    padding: 0;
    margin: 0;
    justify-content: center;
    justify-items: center;
}




.sociallinks a img {
    width: 30px;
}

.sociallinks{
    
    justify-content: center; 
    align-items: center;
    background-color: #2d9295;
}


/*HISTORY*/

.history h2 {
    text-align: center;
}




footer{
    background-color: #2d9295;
    display: grid;
    grid-template-columns: 5fr 2fr ;
    grid-template-rows: 1fr;
}

footer p {
    text-align: center;
}
 /*--------------------------------------------*/

.contactform{
    font-family: inherit;
    background-color: #eee;
    font-size: 1em;
    border-radius: 0.5rem;
    border: 1px solid #0B595B;
    width: 500px;
    height: 400px;
    padding: 20px;
    margin: 20px 145px;
    color:#0B595B; 
    
}

.messagepurpose{
    margin-left: 0;
    padding-left: 0;
}



.textarea{
    width: 70%;
    margin: 20px 0;
    justify-self: center;
}

.messagelayout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    margin: 20px 0;
    
    max-width: 1000px;
    
}

.yourmessage{
    display: grid;

}

.messagetext{
    margin-top:20px;
    justify-self: center;
}


.messagetitle {
    
    display:flex;
    justify-content: center;
          
}


.button2{
    width: 300px;
    background-color: #1D3557;
    padding: 0 100px;
    margin-top: 20px;
    color:#A8DADC;
    font-size: 1.2em;
    border-radius: 0.5rem;
    
}

.text input{
    width: 300px;
    margin: 10px;
}

.image1 img{
    width: 10rem;
    justify-self: center;
    align-self: center;
}

.image1 {
    justify-self: center;
    align-self: center;
}
.team{
    display: grid;
    

}

.team h2 {
    
    grid-column: 2/3;
    justify-self: center;
}
.contactsection{

    display: grid;
    grid-template-columns: 50% 50%;
    background-color: rgba(128, 128, 128, 0.201);
    

}

.contactinfo{
    display: flex;
    justify-content: center;
    
}

.divcontact{
 
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    background-color: #2d9295;
    border: 1px solid #2d9295;
    padding: 20px;
    
}

.carticle iframe{
    border: 1px solid #0B595B ;
    grid-column: 2/3;
    align-self: center;
    justify-self: center;
    
}

.pcontact{
    padding: 5px;
}

/*-------------TRIPS----------------------------*/

