@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* font-family: "Roboto", sans-serif;
font-family: "Madimi One", sans-serif; */





:root {
    --primary-color: #E63946;
    --secondary-color: #F1FAEE;
    --accent1-color: #A8DADC;
    --accent2-color: #1D3557;

    --heading-font:"Madimi One", sans-serif;
    --paragraph-font:"Roboto", sans-serif;

    --nav-background-color: #A8DADC;
    --nav-link-color: #1D3557;
    --nav-background-color: #F1FAEE;
    --nav-hover-background-color: #E63946;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}




h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}
p {
    padding: 25px;
}

nav {
    background-color: var(--nav-hover-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
  }
  
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

/*------------------------------------------------------------------*/


.hero {
    position: relative;

}

.heroimage {
    display: block;
    width: 100%;
    height: auto;
}

header {
    display: grid;
    grid-template-columns: 3fr 5fr;
    align-items: center;
    gap: 0.5rem;

}
nav {
    display: flex;
}



 .happyclient{
    position: absolute;
    margin: 10px;
    top: 100px;
    background-color: #A8DADC;
    padding-bottom: 10px;

    
 }
 

 .happyclient p {
    float : flex;
    padding: 0;
    margin: 0;
    width: 70%;
 }

.aboutmain h1{
    position: absolute; 
    top: 0;
    right: 21rem;
    background-color: #A8DADC;
}


.happyclient img {
    position: absolute;
    width: 10em;
    height: auto;
    right: 1px;  
    float: inline-end;
} 



/* .history{

} */

.adventure h2{
    text-align:  center;
    grid-column:3/4; 

}
.adventure img{
    box-sizing: border-box;
    width: 10em;
    height: auto;
    justify-items: center;
    margin: 0;
    padding: 0;
    

}

.adventure{
    display: grid;
    max-width: 960px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr ;
    
}

figure{
    grid-row: 2/3;
    padding: 0;
    margin: 0;
    justify-content: center;
    justify-items: center;
}




.sociallinks a img {
    width: 30px;
}

.sociallinks{
    
    justify-content: center; 
    align-items: center;
}


/*HISTORY*/

.history h2 {
    text-align: center;
}




footer{
    background-color: #E63946;
    display: grid;
    grid-template-columns: 5fr 2fr ;
    grid-template-rows: 1fr;
}

footer p {
    text-align: center;
}